/*


#grid {


		background-color: white;
		text-align: center;
	display: inline-block;
	position:fixed;
	background-color: black;
/*	margin-left: 40%;*/
			

/*html, body { position: relative; height: 100%; text-align: center}


.player1 {

		
		
		background-image: url("http://www.buckybox.com/images/team-joshua-63101086.jpg");
		background-size: cover;
		
		

}
.player2 {


		background-image: url("https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAALQAAAAJGVjNzcwYzQzLWNmOTUtNDEzZS04ZTc3LTFjZjZhZTA0YTQwZg.jpg");
		background-size: cover;

}

div{

	border-radius: 50px;
	background-color: white;
	height:100px;
	width:100px;
*/




#activeplayer
{

height: 50px;
margin: 5px;
width:300px;
margin-left: auto;
  margin-right: auto;

}
#activeplayer h2 {
  font-size: 15px;
  margin-top: -10px;
  color: white;


}


#grid 
    {
    
    
    display: inline-block;
    
    padding: 10px;
    background-color: black;
    margin-left: auto;
   margin-right: auto;
      }


h1    
    {
    font-size: 50px;
    color: #fed136;
    
    width:580px;
      margin-left: auto;
   margin-right: auto;
    }              

html, body 
    { 
    position: relative; 
    height: 100%;
    background-color: #333;
    text-align: center
    }


.Red {

        
        
        background-color:red;
        
        

}
.Yellow {


        background-color:#fed136;
        

}

div{
    position: relative;
    border-radius: 50px;
    background-color: white;
    height:75px;
    width:75px;

}


#my_beautiful_button{
   position:absolute;
   width: 100px;
   left: 202px;
   top: 198px;
}
